# Auto detect text files and perform LF normalization
* text=auto
<!DOCTYPE HTML>
<html>

<head>


<title> TABELLE HTML </title>


</head>

<body>

<H1> Tipologie per le tabelle HTML</H1>


</body>


</html>